fastapi
uvicorn
motor
python-dotenv
pydantic>=2.0.0
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
starlette
python-multipart
pymongo
email-validator
google-genai
httpx
langfuse
dnspython
cryptography
